@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
}


/* Common Styles */

.color-01{
    color: #FEA301;
}
.color-02{
    color: #01ACFD;
}

.color-03{
    color: #05D4DF;
}

.color-04{
    color: #5D58EF;
}
.bold{
    font-weight: 600;
}






/* Header related Styles */



/* nav related style */

nav{
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

nav, ul, .navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    
}

.nav-logo{
    margin-left: 300px;
    width: 62px;
    height: 62px;
}
.nav-logo-1{
    
    width: 40px;
    height: 30px;
}


.nav-title{
    font-size: 32px;
    margin-left: 11px;
    margin-right: 186px;
    
    

      
} 
.btn-primary{
    font-size: 20px;
    color: #ffff;
    padding: 10px 60px;
    background-color: #FEA301;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 197px;
    margin-left: 184px;
    
}    


 /* ul{
    margin-right: 140px;
    
} */

nav ul li{
    list-style: none;
    margin:  0px 32px;
    font-weight: 500;
}

nav ul li a{
    text-decoration: none;
}

.item{
    font-size: 20px;
    
}

.hide{
    display: none;
}

.marquee{
    background-color: #05D4DF;
    width: 71%;
    color: #ffff;
    height: 50px;
    padding-top: 12px;
    margin-left: 300px;
    border-radius: 15px;
    
    
    
}



/* banner related style */
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    
    
}
.banner-title{
    font-size: 56px;
    font-weight: 800;
    margin-top: 122px ;
    margin-left: 300px;
}

.banner-description{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 300px;
}
ul{
    margin-right: 150px;
}

.btn-2{
    font-size: 20px;
    font-weight: 700 ;
    color: #ffff;
    padding: 10px 45px;
    background-color: #111111;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 197px;
    margin-left: 300px;
}

.banner-img{
    height: 575px;
    width: 468px;
    margin-left: 250px;
    
        
}


/* Main Section Styles */

/* Standard Curriculum Section */

.container{
    width: 1960px;
    height: 750px;
    background-image: url(../assets/bg.png);
    
   

}

.container-title{
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 42px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}



.card{
    display: flex;
    gap: 60px;
}
.card-1{
    height: 450px;
    width: 400px;
    margin-left: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}


.card-2{
    height: 450px;
    width: 400px;
    margin-left: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    height: 450px;
    width: 400px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}




.card-img{
    width: 136px;
    height: 136px;
    margin-top: 52px;
    margin-bottom: 32px;
    margin-left: 115px;
    margin-right: 115px;
}

.card-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 33px;
    text-align: center;
}

.card-description{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.btn-container{
    font-size: 15px;
    border: none;
    background-color: #ffff;
    color: #05D4DF;
     margin-left: 132px;
     margin-top: 33px;

}
.btn-container-2{
    font-size: 15px;
    border: none;
    background-color: #ffff;
    color: #FEA301;
     margin-left: 132px;
     margin-top: 33px;

}
.btn-container-3{
    font-size: 15px;
    border: none;
    background-color: #ffff;
    color: #5D58EF;
     margin-left: 132px;
     margin-top: 33px;

}


/* arrow section style */

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-left{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: #FEA301;
     
}

.arrow-right{
    border: none;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    border-radius: 40px;
    background-color: #FEA301;
     
}

.arrow-img{
    width: 15px;
    height: 24px;
    margin-left: 22px;
    margin-top: 17px;
    
    
    
    }



/* Story related Styles */

.story-section{
    width: 1960px;
    height: auto;
    background: url(../assets/bg.png) 100%, linear-gradient( rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 80%);
    display: flex;
    gap: 19px;
}

.story-content{
    width: 650px;
    height: 700px;
    border-radius: 10px;
    background-color: hsl(0, 13%, 95%);
    margin-left: 300px;
    
    
   
}

.story-title{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}

.story-subtitle{
    font-size: 24px;
    font-weight: 700px;
    margin-top:58px;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 47px;
}  
.story-description{
    font-size: 15px;
    font-weight: 600;
    color: #666666;
    margin-left: 38px;
} 

.story1-img{
    width: 650px;
    height: 380px;
    border-radius: 5px;
    position: absolute;
   
    
}
.card-date-time{
    width: 174px;
    height: 47px;
    border: none;
    background-color: #3CD8E8;
    border-radius: 10px;
    margin-top: 358px;
    margin-left: 38px;
    position: relative;
    

}
.date-title{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 14px;
    color: #ffff;
}

.item-1{
    width: 335px;
    height: 350px;
    background-color: hsl(0, 13%, 95%);
    border-radius: 10px;
    
    
}

.item-title{
    padding-top: 38px;
    padding-left: 38px;
    padding-right: 38px;
}

.item-subtitle{
    padding-top: 20px;
    padding-left: 38px;
    
}
.story-2-img{
    width: 335px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    
}

.card-date-time-2{
    width: 174px;
    height: 40px;
    border: none;
    background-color: #95B226;
    border-radius: 10px;
    margin-left: 40px;
    position: relative;
    margin-top: 180px;
}

.story3-img{
    width: 335px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    
}

.card-date-time-3{
    width: 174px;
    height: 40px;
    border: none;
    background-color: #5D58F0;
    border-radius: 10px;
    margin-left: 40px;
    position: relative;
    margin-top: 180px;
    
}

.date-title-3{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    color: #ffff;
}


.story-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
    
    
    
}

.btn-view{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg.png);

    
}
.btn-view-1{
    font-size: 20px;
    width: 197px;
    height: 50px;
    background-color: black;
    color: #ffff;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-top: 35px;
    
   
}

/* footer related Style */
footer{
    width: 1960px;
    height: 520px;
    background-color: #01ACFD;
    align-items: center;
    justify-content: center;
   
}
.footer{
    padding-top: 150px;
    display: flex;
    
}
.footer-content{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffff
}


.footer-title{
    font-size: 42px;
}


.footer-description{
    margin-top: 35px;
    color: #ffff;
}
.footer-container{
    margin-left: 300px;
}
.footer-about{
    margin-left: 300px;
}

.about-title{
    text-align: center;
    font-size: 24px;
    color: #ffff;

}


footer ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

footer ul li{
    list-style: none;
    
}
footer ul li a {
    text-decoration: none;
    color: #ffff;
}

.footer-item{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 700;
}

.contact-title{
    font-size: 26px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 20px;
    
}
.footer-contact{
    margin-left: 230px;
}








/* Responsive for small Device */

@media screen and (max-width: 576px) {
    
    /* nav related design */
    nav{
        border: 2px solid #FEA301;
        height: 80px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav-logo{
        margin-left: 16px;
        width: 30px;
        height: 30px;
    }
    
    .nav-title,
    ul, .nav-logo-1{
        display: none;
    }
    .nav-logo-1{
        display: inline;
        margin-left: 270px;
        margin-right: 20px;
        width: 30px;
        height: 20px;
        
       
        
    }
    .marquee{
        margin-left: 10px;
        width: 94%;
    }
   
    /* banner related design */

    .banner{
       grid-auto-flow: row-reverse;
       grid-template-columns: repeat(1, 1fr);
       

    }
    .banner-content{
        order: 2;
    }

    .banner-title{
        margin: 20px;
        text-align: center;
        font-size: 30px;
    }
    .banner-description{
        margin: 20px;
        text-align: center;
        font-size: 18px;
    }

    .btn, .btn-2{
        
       text-align: center; 
       margin: 0 auto;
    }

    .banner-img{
        width: 80%;
        height: auto;
        margin-right: 30px;
        margin-left: 40px; 
        align-items: center;
        
        
        
    }

/* Standard curriculum related styles */

.card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   
}

.container{
    width: 100%;
    height: auto;
}

.container-title{
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 30px;
    
}


.card-1{
   
    width: 87%;
    height: auto;
    margin-left: 19px;
    margin-right: 24px;
    
    
}

.card-2{
    width: 87%;
    height: auto;
    margin-left: 19px;
    margin-right: 24px;
    
   
}
.card-3{
    width: 87%;
    height: auto;
    margin-left: 19px;
    margin-right: 24px;
    
}
.btn-container{
   
     margin-top: 10px;
     margin-bottom: 10px;

      
}
.btn-container-2{
   
    margin-top: 10px;
    margin-bottom: 10px;

     
}
.btn-container-3{
   
    margin-top: 10px;
    margin-bottom: 10px;

     
}

.arrow{
    display: none;
}






/* story section related design */
.story-section{
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: none;
    
}

.story-content{
    display: none;
}
.story-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    height: auto;
    margin-left: 5px;
    
    

}
.story-2-img{
    width:191px;
    height: auto;
}

.card-date-time-2{
    margin-top: 88px;
    width: 80%;
    font-size: 10px;
    margin-left: 18px;
    
}

.card-date-time-3{
    margin-top: 88px;
    width: 80%;
    font-size: 10px;
    margin-left: 18px;
    
}

.item-title, .item-subtitle{
    padding: 5px;
    font-size: 14px;
}

.item-1{
    width: 191px;
    height: 200px;
}


/* footer section related styles */

footer{
    width: 100%;
    height: auto;
}
.footer 
{
    flex-direction: column;
}
.footer-content{
    flex-direction: initial;
    margin-left: 10px;
}
.footer-container{
    margin-left: 30px;
}
.footer-about{
    margin-left: 10px;
}
.footer-description{
    margin-left: 20px;
}

.about-title{
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}

.footer-item{
    margin-left: 2px;
}

.footer-contact{
    margin-left: 50px;
    margin-top: 30px;
}

.contact-title, .footer-img{
    margin-bottom: 50px;
}


}





    