@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
}


/* Common Styles */

.color-01{
    color: #FEA301;
}
.color-02{
    color: #01ACFD;
}

.color-03{
    color: #05D4DF;
}

.color-04{
    color: #5D58EF;
}
.bold{
    font-weight: 600;
}






/* Header related Styles */



/* nav related style */

nav{
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

nav, ul, .navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    
}

.nav-logo{
    margin-left: 140px;
    width: 62px;
    height: 62px;
}
.nav-logo-1{
    
    width: 40px;
    height: 30px;
}


.nav-title{
    font-size: 32px;
    margin-left: 11px;
    margin-right: 186px;
    
    

      
} 
.btn-primary{
    font-size: 20px;
    color: #ffff;
    padding: 10px 60px;
    background-color: #FEA301;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 197px;
    margin-left: 184px;
    
}    


 /* ul{
    margin-right: 140px;
    
} */

nav ul li{
    list-style: none;
    margin:  0px 32px;
    font-weight: 500;
}

nav ul li a{
    text-decoration: none;
}

.item{
    font-size: 20px;
    
}

.hide{
    display: none;
}



/* banner related style */
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    
    
}
.banner-title{
    font-size: 56px;
    font-weight: 800;
    margin-top: 122px ;
    margin-left: 144px;
}

.banner-description{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 144px;
}
ul{
    margin-right: 150px;
}

.btn-2{
    font-size: 20px;
    font-weight: 700 ;
    color: #ffff;
    padding: 10px 45px;
    background-color: #111111;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 197px;
    margin-left: 140px;
}

.banner-img{
    height: 575px;
    width: 468px;
    margin-left: 70px;
    
    
 
    
}


/* Main Section Styles */

/* Standard Curriculum Section */

.container{
    width: 1440px;
    height: 1059px;
    background-image: url(../assets/bg.png);
    position: absolute;
   

}

.container-title{
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}



.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.card-1{
    height: 450px;
    width: 400px;
    margin-left: 140px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}


.card-2{
    height: 450px;
    width: 400px;
    margin-left: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    height: 450px;
    width: 400px;
    margin-left: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}




.card-img{
    width: 136px;
    height: 136px;
    margin-top: 52px;
    margin-bottom: 32px;
    margin-left: 115px;
    margin-right: 115px;
}

.card-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 33px;
    text-align: center;
}

.card-description{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
.btn-container{
    font-size: 15px;
    border: none;
    background-color: #ffff;
    color: #05D4DF;
     margin-left: 132px;
     margin-top: 33px;

}
.btn-container-2{
    font-size: 15px;
    border: none;
    background-color: #ffff;
    color: #FEA301;
     margin-left: 132px;
     margin-top: 33px;

}
.btn-container-3{
    font-size: 15px;
    border: none;
    background-color: #ffff;
    color: #5D58EF;
     margin-left: 132px;
     margin-top: 33px;

}







/* Responsive for small Device */

@media screen and (max-width: 576px) {
    
    /* nav related design */
    nav{
        border: 2px solid #FEA301;
        height: 80px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav-logo{
        margin-left: 16px;
        width: 30px;
        height: 30px;
    }
    
    .nav-title,
    ul, .nav-logo-1{
        display: none;
    }
    .nav-logo-1{
        display: inline;
        margin-left: 270px;
        margin-right: 20px;
        width: 30px;
        height: 20px;
        
       
        
    }
   
    /* banner related design */

    .banner{
       grid-auto-flow: row-reverse;
       grid-template-columns: repeat(1, 1fr);
       

    }
    .banner-content{
        order: 2;
    }

    .banner-title{
        margin: 20px;
        text-align: center;
        font-size: 30px;
    }
    .banner-description{
        margin: 20px;
        text-align: center;
        font-size: 18px;
    }

    .btn, .btn-2{
        
       text-align: center; 
       margin: 0 auto;
    }

    .banner-img{
        width: 80%;
        height: auto;
        margin-right: 30px;
        margin-left: 40px; 
        align-items: center;
        
        
        
    }

/* Standard curriculum related styles */

.card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   
}

.container{
    width: 100%;
    height: auto;
}

.container-title{
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 30px;
    
}


.card-1{
   
    width: 87%;
    height: auto;
    margin-left: 19px;
    margin-right: 24px;
    
    
}

.card-2{
    width: 87%;
    height: auto;
    margin-left: 19px;
    margin-right: 24px;
    
   
}
.card-3{
    width: 87%;
    height: auto;
    margin-left: 19px;
    margin-right: 24px;
    
}
.btn-container{
   
     margin-top: 10px;
     margin-bottom: 10px;

      
}
.btn-container-2{
   
    margin-top: 10px;
    margin-bottom: 10px;

     
}
.btn-container-3{
   
    margin-top: 10px;
    margin-bottom: 10px;

     
}

}





/*  Responsive for large Device */ 

@media screen and (min-width: 992px) and (max-width: 1366px){
   ul{
    margin-right: 140px;
   }

   .banner-img{
    margin-right: 170px;
   }
    

}
    